main.home {
  flex-direction: row;
  .torrent-list {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .torrent-file {
    display: none;
  }
  &.sidebar-open {
    .torrent-file {
      display: block;
      border-left: var(--separator);
    }
    .torrent-list,
    .torrent-file {
      flex: 1 1 50%;
      max-width: 50%;
    }
  }
}